.red{
  color: red;
}
.red-cap{
  color: red;
  font-weight: bold;
}
.yellow{
  color:yellow;
}
.yellow-cap{
  color: yellow;
  font-weight: bold;
}
.cap{
  font-weight: bold;
}
img{
  display: block;
  width:200px;
}